.container .place-row {
    margin-top: 10px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

div {
    display: block;
}

p {
    margin: 0;
}


.unsubscribe {
  font-size: 9px;
  color: grey;
}

.bg-success {
  font-size: 16px;
}

// .row:before {
//     display: table;
//     content: " ";
// }
