.container .place-row {
    margin-top: 10px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

div {
    display: block;
}

p {
    margin: 0;
}


// .unsubscribe {
//   font-size: 12px;
//   color: grey;
// }

// .bg-success {
//   font-size: 20px;
// }

.row:before {
    display: table;
    content: " ";
}

.fa {
  font-size: 20px;
  font-weight: bold;
}
