/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.wrapper-card {
  background-color: white;
  padding: 30px;
  padding-top: 60px;
  border-radius: 0 0 3px 3px;
  border: 1px solid #cccccc;
  box-shadow: 2px 2px 2px #E6E6E6;
}

// #btn-header {
//   position: relative;
// }

// #btn-header-dropdown {
//   position: absolute;
// }

.flex-center {
  display: flex;
  text-align: center;
  justify-content: center;
}

.dropdown-menu {
  width: 100%;
}
