.flex-box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 60vh;
}

.headbox {
  padding: 20px;
}

.headbox h4 {
  font-style: italic;
  font-size: 30px;
  color: white;
}

.headbox li {
  font-size: 20px;
  color: white;
}

.boxie {
  margin: 20px 0px;
  padding-bottom: 20px;
  border-bottom: 2px solid lightgrey;
}

.bio {
  margin: 20px 0px;
}

