<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://static.pexels.com/photos/5199/hands-coffee-cup-apple.jpg');">
  <div class="banner-content">
    <h4>Get to Know our digital</h4>
    <h1>heartbit</h1>
  </div>
</div>
<!--
<div class="container">
  <div class="row text-center">
    <div class="about-description col-sm-8 col-sm-offset-2">
      <div class="about-description-content">
        <p>Jacks of All Trades Master of None.</p>
      </div>
    </div>
  </div>
</div>

 -->
<div class="about-us-container section-container">
  <div class="container">
      <div class="row">
          <div class="col-sm-12 about-us section-description wow fadeIn">
              <h2><strong>About</strong> us</h2>
              <div class="divider-1 wow fadeInUp"><span></span></div>
          </div>
      </div>
      <div class="row">
          <div class="col-sm-4 about-us-box wow fadeInUp">
            <div class="about-us-photo">
              <img src="http://i.imgur.com/7xMI4N9.jpg" alt="" data-at2x="http://i.imgur.com/7xMI4N9.jpg">
            </div>
              <h3>Margaux</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
              <div class="about-us-social">
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-dribbble"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
            </div>
          </div>
          <div class="col-sm-4 about-us-box wow fadeInDown">
            <div class="about-us-photo">
              <img src="http://i.imgur.com/6AIFayN.png" alt="" data-at2x="http://i.imgur.com/6AIFayN.png">
            </div>
              <h3>Yoann</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
              <div class="about-us-social">
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-dribbble"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
            </div>
          </div>
          <div class="col-sm-4 about-us-box wow fadeInUp">
            <div class="about-us-photo">
              <img src="http://i.imgur.com/PCf3k1W.jpg" alt="" data-at2x="http://i.imgur.com/PCf3k1W.jpg">
            </div>
              <h3>Romain</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
              <div class="about-us-social">
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-dribbble"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
            </div>
          </div>
      </div>
  </div>
</div>
