.card {
  height: 25vh;
  background-size: cover !important;
  color: white;
  position: relative;
  padding-top: 40px;
  margin: 15px 0px 15px 0px;
}
.card-user {
  position: absolute;
  left: 10px;
  top: 20px;
  border: 1px solid white;
}
.card-category {
  position: absolute;
  top: -36px;
  right: 0px;
  font-size: 10px;
  text-transform: uppercase;
}
.card-description {
  position: absolute;
  bottom: 5px;
  left: 10px;
}
.card-description h2 {
  font-size: 24px;
}
.card-description p {
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  font-size: 13px;
  }
.card-title {
    position: absolute;
    top: -50px;
  }

.card-title h3 {
  color: $dark;
  font-size: 20px;
}


.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}
.card-link:hover{
  opacity: 0.1;
}

.card-cta{
  height: 25vh;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  margin: 15px 0px 15px 0px;
}

.card-cta-description h3{
  font-size: 60px;
}

.card-cta-description p{
    margin-bottom: 30px;
}

.card-cta-link {
  top: 0;
  bottom: 0;
  width: 100%;
  z-index:2;
  opacity: 0;
  transition: all 0.5s ease-out;
}

.card-cta-link:hover{
  text-decoration: none;
  h3 {
    font-size: 70px;
  }

}


.expedition-reservation-card {
  color: black;
  position: relative;
  height: 20vh;
  width: 70vw ;
  border-radius: 2px 2px 0 0;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}

.reservation-card_date-header {
  position: absolute;
  top: 10px;
  left: 160px;
  font-size: 25px;
  color: $brand-color;
}


.expedition-reservation-card_listing-header {
  position: absolute;
  top: 45px;
  left: 160px;
}


.expedition-reservation-card_meta {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.expedition-reservation-participant {
  position: absolute;
  left: 160px;
  bottom: 20px;
  border: 1px solid white;
}

.expedition-reservation-card-photo {
  position: absolute;
  left: 2px;
  top: 6px;
  border: 1px solid white;
  height: 150px;
  width: 150px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.card-expedition-date {
  position: absolute;
  left: 10px;
}

.card-form {
  background-color: white;
  box-shadow: 2px 2px 2px lightgrey;
  margin-top: 30px;
  padding: 20px;
}

