
.btnparticipation {
  background-color: $red;
  color:white;
}

.btn:hover {
  top: 3px;
  box-shadow: none;
}

.participation p {
  font-size: 12px;
  width: 150px;
  display: inline-block;
  margin-left: 18px;
}

.participation label {
  margin: 5px;
}

.participation {
  text-align: center;
  border: solid 1px #cbc9c9;
}


